body{
	margin: 0;
	font-family: Russo One, Helvetica, Arial, Sans-Serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: salmon;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
}

h1, h2{
font-family: 'Sriracha', cursive;
}

header h1{
	color: white;
	font-size: 100px
}

h2{
	font-size: 35px;
	color: salmon;
	margin: 40px 0px 10px;
}

header img{
	border-radius: 300px;
	width: 700px;
	border: 10px solid white;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
max-width: 100%
}

a{
	color: salmon;
}

a:hover{
	color: white;
	background-color: salmon;
}

footer{
	color: white;
	background-color: salmon;
	text-align: center;
	padding: 50px;
}

footer p{
	margin: 0;
}

p.caption{
	color: grey;
	font-style: italic;
	margin-top: 0;
	font-size: 15px;
}





